<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
  
</head>
<body>
    <%- include("./partials/header.ejs") -%> 
    <%- include("./partials/sidebar.ejs") -%> 
    <main>
        <div class="uploadedImagesContainer">
            <ul>
                <% if (fileUrls && fileUrls.length > 0) { %>
                  <% fileUrls.forEach(url => { %>
                    <li>
                       <a href="/detail?image=<%= url %>"><img src="<%= url %>" class="imgProcess" alt="Uploaded Image" style="max-width: 200px; height: auto;">
                       </a> 
                    </li>
                  <% }); %>
                <% } else { %>
                  <li>No files uploaded</li>
                <% } %>
              </ul>
        </div>
      </main>
      
    <%- include("./partials/footer.ejs") -%> 
</body>
</html>
